<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            margin-left: 50px;
        }
        .top {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .home {
            margin: 40px;
        }
        .show {
            margin-left: 20px;
        }
    </style>
</head>
<body>
    <div class="top">
        <h1>Edit User</h1>
        <a class ="home" href="/users">Home</a>
    </div>
    <form action='/edit/{{user["id"]}}' method='POST'>
        <p>First Name: <br> <input type="text" name="fname" value="{{user['first_name']}}"></p>
        <p>Last Name: <br> <input type="text" name="lname" value="{{user['last_name']}}"></p>
        <p>Email: <br> <input type="text" name="email" value="{{user['email']}}"></p>
        <input type="submit" value="Update">
        <a class="show" href='/users'>Show User</a>
    </form>
</body>
</html>